.releaseTicketLink {
    font-size: 1.2em;
}


.relTicketList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.relTicketListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.rel-ticket-button {
    height: 100%;
    align-self: end;
    margin-left: 5px;
}